<section class="profile-section">
    <div class="profile-section_label">
      <h2>Education</h2>
      <a href="/education/">Full details »</a>
    </div>
  
    <div class="profile-section_content">
      <div class="edu-list">
        <article class="edu-item">
          <h3>York University</h3>
          <p class="edu-date">Jan. 2025 – Present</p>
          <p class="edu-degree">MASc in Electrical &amp; Computer Engineering</p>
          <p class="edu-location">Toronto, Canada</p>
        </article>
  
        <article class="edu-item">
          <h3>Amirkabir University of Technology</h3>
          <p class="edu-date">Sept. 2018 – Jul. 2023</p>
          <p class="edu-degree">BSc in Computer Engineering</p>
          <p class="edu-location">Tehran, Iran</p>
          <p class="edu-meta">GPA: 18.24/20 (3.89/4)</p>
        </article>
  
        <article class="edu-item">
          <h3>Shahid Ghoddusi High School (NODET)</h3>
          <p class="edu-date">Sept. 2014 – Jul. 2018</p>
          <p class="edu-degree">Diploma in Mathematics and Physics</p>
          <p class="edu-location">Qom, Iran</p>
          <p class="edu-meta">GPA: 18.65/20 (4/4)</p>
        </article>
      </div>
    </div>
  </section>